apiVersion: apps/v1
kind: DaemonSet
metadata:
  labels:
    app: {{ PREPULL_daemonset_app_name }}
  name: {{ PREPULL_daemonset_app_name }}
  namespace: {{ PREPULL_project_name }}
spec:
  revisionHistoryLimit: 10
  selector:
    matchLabels:
      app: {{ PREPULL_daemonset_app_name }}
  template:
    metadata:
      labels:
        app: {{ PREPULL_daemonset_app_name }}
    spec:
      nodeSelector:
        {{ PREPULL_nodeselector }}
      containers:
        - image: gcr.io/google_containers/pause
          imagePullPolicy: Always
          name: pause
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
      dnsPolicy: ClusterFirst
{% if PREPULL_images_to_prepull %}
      initContainers:
{% for INTERNAL_image in PREPULL_images_to_prepull %}
{% if INTERNAL_image.image != "" %}
        - command:
            - /bin/true
          image: '{{ INTERNAL_image.image }}'
          imagePullPolicy: IfNotPresent
          name: prepull-{{ INTERNAL_image.name }}
          resources: {}
          terminationMessagePath: /dev/termination-log
          terminationMessagePolicy: File
{% endif %}
{% endfor %}
{% endif %}
      restartPolicy: Always
      schedulerName: default-scheduler
      securityContext: {}
      terminationGracePeriodSeconds: 30
  updateStrategy:
    rollingUpdate:
      maxUnavailable: 1
    type: RollingUpdate