kind: ConfigMap
apiVersion: v1
metadata:
  labels:
    app: homeroom
    role: lab
  name: homeroom-cfg-{{lab_workshop_name}}
data:
  workshops.json: | -
    [
      {
        "title": "{{lab_workshop_name}}",
        "description": "{{lab_workshop_name}}",
        "url": "{{__lab_url}}"
      }
    ]